<ul>
	{% include color-option.html color-name="Black" color-name-slug="black" %}
	{% include color-option.html color-name="White" color-name-slug="white" %}
	{% include color-option.html color-name="Grey" color-name-slug="grey" %}
{% if include.layout == 'saddle' %}
	{% include color-option.html color-name="Charcoal" color-name-slug="charcoal" %}

	
	{% include color-option.html color-name="Chocolate" color-name-slug="chocolate" %}
	{% include color-option.html color-name="Latte" color-name-slug="latte" %}
	{% include color-option.html color-name="Tan" color-name-slug="tan" %}


	{% include color-option.html color-name="Burnt Orange" color-name-slug="burnt-orange" %}
	{% include color-option.html color-name="Orange" color-name-slug="orange" %}



	{% include color-option.html color-name="Purple" color-name-slug="purple" %}
	{% include color-option.html color-name="Navy" color-name-slug="navy" %}
	{% include color-option.html color-name="Cobalt" color-name-slug="cobalt" %}
	{% include color-option.html color-name="Turquoise" color-name-slug="turquoise" %}
	{% include color-option.html color-name="Sky" color-name-slug="sky" %}
	
	{% include color-option.html color-name="Mint" color-name-slug="mint" %}
	{% include color-option.html color-name="Lime" color-name-slug="lime" %}
	{% include color-option.html color-name="Teal" color-name-slug="teal" %}
	{% include color-option.html color-name="Kelly" color-name-slug="kelly" %}
	{% include color-option.html color-name="Forest" color-name-slug="forest" %}


	{% include color-option.html color-name="Maroon" color-name-slug="maroon" %}
	{% include color-option.html color-name="Crimson" color-name-slug="crimson" %}
	{% include color-option.html color-name="Red" color-name-slug="red" %}
	{% include color-option.html color-name="Pink" color-name-slug="pink" %}



{% endif %}
</ul>
